.code {
  background-color: black;
  border-radius: 3px;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-family: Consolas,monospace;
  color: #D4D4D4;
}

.directive {
  color: #AD8FE5;
}

.string {
  color: #CD9178;
}